// 变量
$name: 'atom-button';

.#{$name}-clean {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  outline: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  // transition: $ivue-transition-default, color 1ms;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.#{$name} {
  @extend .atom-button-clean;
  min-width: $atom-button-min-width;
  height: $atom-button-height;
  text-align: center;
  margin: 6px 8px;
  // 这是什么？
  user-select: none;
  border-radius: $atom-button-radius;
  font-size: $atom-button-font-size;
  font-weight: 500;
  color: currentColor;

  &--large {
    width: 250px;
  }

  &--medium {
    width: 200px;
  }

  &--small {
    width: 50px;
  }

  &--content {
    position: relative;
    z-index: 2
  }

  &--selected {
    color: #fff !important;
    background: currentColor;
  }

  &--current {
    border: 1px solid;
    border-color: currentColor !important;
  }

  &--outline {
    border: 1px solid currentColor;
    background: transparent !important;
    box-shadow: none;
  }

  &--readonly {
    border-color: transparent !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  &:active {
    // 这是什么
    outline: none;
  }

  &[disabled] {
    color: rgba(0, 0, 0, .26);
    pointer-events: none;
  }

  @media screen and (min-width: 800px) {
    &:not([disabled]) {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &:active {
        &:before {
          background-color: currentColor;
          opacity: .12;
        }
      }

      &:active {
        &:before {
          opacity: .2;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    &:not([disabled]) {
      &:hover {
        &:before {
          background-color: transparent;
          opacity: .12;
        }
      }
    }
  }

}